<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define o padrão do log -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Usa o appender CONSOLE para logs de nível INFO e superior -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
